:root {
    --color-primary: #000000;
    --color-secondary: #c11325;
    --color-white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
}

/* ============>Navbar<============ */
.navbar {
    height: 60px;
    font-family: "Oswald", sans-serif;
    font-size: 2.2rem;
}

.navbar-brand {
    font-size: 2rem;
    color: var(--color-white);
}

.logo-red {
    color: red;
}
